@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --header-height: 3.5rem;
  --nav-width: 219px;
  --bg: #185ADB;
  --secondary: #0A1931;
  --accent: #FFC947;
  --white: #fff;
  --black: #000;
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --small-font-size: .75rem;
  --smaller-font-size: .75rem;
  --font-medium: 500;
  --font-semi-bold: 600;
  --z-fixed: 100;
  --box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  --border-radius: 50px;
  --border: 1px solid rgba(0, 0, 0, 0.3);
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*========== BASE ==========*/
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 1.3rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: #797979;
  transition: all 0.5s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: #222224;
}

::-webkit-scrollbar-track {
  background: #f9f9f9;
}

body {
  margin: var(--header-height) 0 0 0;
  padding: 1rem 1rem 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--black);
  background-image: url(../../music-player/images/bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*========== HEADER ==========*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  box-shadow: 0 1px 0 rgba(22, 8, 43, 0.1);
  padding: 0 1rem;
  z-index: var(--z-fixed);
}

.header__container {
  display: flex;
  align-items: center;
  height: var(--header-height);
  justify-content: space-between;
}

.header__img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.header__logo {
  color: var(--title-color);
  font-weight: var(--font-medium);
  display: none;
}

.header__input {
  width: 100%;
  border: none;
  outline: none;
  background-color: var(--first-color-light);
}

.header__input::placeholder {
  font-family: var(--body-font);
  color: var(--text-color);
}

.header__icon, 
.header__toggle {
  font-size: 1.2rem;
}

.header__toggle {
  color: var(--title-color);
  cursor: pointer;
}

/*========== NAV ==========*/
.nav {
  position: fixed;
  top: 0;
  left: -100%;
  height: 100vh;
  padding: 1rem 1rem 0;
  background-color: var(--secondary);
  box-shadow: 1px 0 0 rgba(22, 8, 43, 0.1);
  z-index: var(--z-fixed);
  transition: .4s;
  color: var(--white);
}

.nav__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 3rem;
  overflow: auto;
  scrollbar-width: none; /* For mozilla */
}

/* For Google Chrome and others */
.nav__container::-webkit-scrollbar {
  display: none;
}

.nav__logo {
  font-weight: var(--font-semi-bold);
  margin-bottom: 2.5rem;
}

.nav__list, 
.nav__items {
  display: grid;
}

.nav__list {
  row-gap: 2.5rem;
}

.nav__items {
  row-gap: 1.5rem;
}

.nav__subtitle {
  font-size: var(--normal-font-size);
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: var(--text-color-light);
}

.nav__link {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.nav__link:hover {
  color: var(--accent);
}

.nav__icon {
  font-size: 1.2rem;
  margin-right: .5rem;
}

.nav__name {
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  white-space: nowrap;
}

.nav__logout {
  margin-top: 5rem;
}

/* Dropdown */
.nav__dropdown {
  overflow: hidden;
  max-height: 21px;
  transition: .4s ease-in-out;
}

.nav__dropdown-collapse {
  background-color: var(--first-color-light);
  border-radius: .25rem;
  margin-top: 1rem;
}

.nav__dropdown-content {
  display: grid;
  row-gap: .5rem;
  padding: .75rem 2.5rem .75rem 1.8rem;
}

.nav__dropdown-item {
  font-size: var(--smaller-font-size);
  font-weight: var(--font-medium);
  color: var(--text-color);
}

.nav__dropdown-item:hover {
  color: var(--first-color);
}

.nav__dropdown-icon {
  margin-left: auto;
  transition: .4s;
}

/* Show dropdown collapse */
.nav__dropdown:hover {
  max-height: 100rem;
}

/* Rotate icon arrow */
.nav__dropdown:hover .nav__dropdown-icon {
  transform: rotate(180deg);
}

/*===== Show menu =====*/
.show-menu {
  left: 0;
}

/*===== Active link =====*/
.active {
  color: var(--first-color);
}


/*===== SWIPER FOR CAROUSEL =====*/

.container {
  max-width: 124rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.section-heading {
  font-size: 3rem;
  color: var(--primary);
  padding: 2rem 0;
  text-align: center;
}

#tranding .tranding-slider {
  height: 40rem;
  padding: 2rem 0;
  position: relative;
}

@media (max-width:500px) {
  #tranding .tranding-slider {
    height: 45rem;
  }
  .section-heading {
    font-size: 2rem;
  }
}

.tranding-slide {
  width: 345px;
  height: 500px;
  background-color: #0A1931;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width:500px) {
  .tranding-slide {
    width: 300px !important;
    height: 500px !important;
  }
  .tranding-slide .tranding-slide-img img {
    width: 17rem !important;
    height: 17rem !important;
  }

  .tranding-slide-content-bottom h2 {
    font-size: 20px;
  }

}

.tranding-slide .tranding-slide-img img {
  width: 322px;
  height: 267px;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 15px;
}

.tranding-slide-content .tranding-slide-content-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.tranding-slide-content .tranding-slide-content-bottom h2 {
  color: var(--white);
  font-size: 30px;
  text-align: center;
}

.tranding-slide-content .tranding-slide-content-bottom h3 {
  color: var(--white);
  font-size: 20px;
  text-align: center;
}

.tranding-slide-content .play-music {
  width: 150px;
  height: 45px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  font-size: 16px;
}

.tranding-slide-content .play-music:hover {
  background-color: #eca90b;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.tranding-slider-control {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tranding-slider-control .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width:990px) {
  .tranding-slider-control .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width:450px) {
  .tranding-slider-control .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.tranding-slider-control .slider-arrow {
  background: var(--accent);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .slider-arrow:hover {
  background: #eca90b;
}

.tranding-slider-control .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.tranding-slider-control .slider-arrow::after {
  content: '';
}

.tranding-slider-control .swiper-pagination {
  position: relative;
  width: 15rem;
  bottom: 1rem;
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.tranding-slider-control .swiper-pagination .swiper-pagination-bullet-active {
  background: var(--black);
}

/* SLIDER FOR ARTIST */
.artists {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  position: relative;
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: var(--accent);
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #eca90b;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
}
.carousel .images img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  display: inline-block;
  width: calc(100% / 3);
}
@media screen and (max-width: 900px) {
  .carousel .images img{
    width: calc(100% / 2);
  }
}
@media screen and (max-width: 550px) {
  .carousel .images img{
    width: 100%;
  }
}

/* ========== SONGS PAGE ==========*/

.ui-cards {
  display: grid;  
  grid-template-columns: repeat(3, 1fr);  
  grid-template-rows: 1fr;
  margin: 0px 5rem;
}

.cards {
  box-sizing: border-box;
  background-color: var(--white);
  border: var(--border);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: 10px;
  margin-left: 2rem;
  margin-top: 10px;
}

.cards:hover {
  background-color: var(--secondary);
  color: var(--white);
  box-shadow: none;
}

.cards:hover .songs-images {
  transform: scale(1.5);
  border-radius: 50px 50px 0px 0px;
}

.cards:hover .songs-btn {
  background-color: #eca90b;
}

.pics {
  height: 300px;
  overflow: hidden;
  border-radius: 50px 50px 0px 0px;
}

.pics .songs-images {
  width: 100%;
  height: 300px;
  display: block;
  border-radius: 50px 50px 0px 0px;
  transition: transform .5s ease;
}

.songs-title {
  text-align: center;
  margin: 20px 0px;
  font-size: 2rem;
}

.songs-text {
  font-size: 1rem;
  text-align: center;
  margin: 0 1.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.songs-btn {
  background-color: var(--accent);
  border-radius: 100px;
  border: none;
  margin: 20px 0px;
  width: 224px;
  height: 74px;
  font-size: 1.3rem;
  cursor: pointer;
}

@media (max-width: 970px) {
  .ui-cards {
    grid-template-columns: 1fr;
    margin: 0px 2rem;
  }
  .cards {
    margin: 2rem 0;
  }
}

@media (max-width: 768px) {
  .ui-cards {
    grid-template-columns: 1fr;
    margin: 0px 2rem;
  }
  .cards {
    margin: 2rem 0;
  }
}

@media (max-width: 576px) {
  .ui-cards {
    grid-template-columns: 1fr;
    margin: 0px 1rem;
  }
  .cards {
    margin: 1rem 0;
  }
  .songs-title {
    font-size: 1.5rem;
  }
  .songs-text {
    margin: 0 0.5rem;
    font-size: 1rem;
  }
  .songs-btn {
    margin: 10px 0px;
    font-size: 1rem;
    width: 180px;
    height: 60px;
  }
  .playlist-btn {
    margin: 10px 0px;
      font-size: 1rem;
      width: 180px;
      height: 60px;
  }
}

/* ========== PLAYLISTS PAGE ==========*/

.light-box {
  display: none;
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  border: 10px solid #3F3F3F;
  border-radius: 10px;
  background: var(--white);
  z-index:1002;
  overflow: hidden;
  box-shadow: 0 0 100px black;
}

.light-box:hover {
  color: #000;
}

.light-box .close {
display: block;
padding-bottom: 5px;
text-align: right;
color: #FFF;
background: #3F3F3F;
}

.light-box a:hover {
  color: var(--accent);
}

.light-box iframe {
  width: 100%; 
  height: 100%; 
  border: 0;
}

.playlist-btn {
  background-color: var(--accent);
  border-radius: 100px;
  border: none;
  margin: 20px 0px 20px auto;
  width: 224px;
  height: 74px;
  font-size: 1.3rem;
  cursor: pointer;
}

.pop_name {
  padding: 10px;  
  background: #333; 
  color: #f1f1f1; 
  font-size: 16px; 
  margin: 0;
}

table {
  font-family: arial, sans-serif;
  width: 100%;
  border: none;
}

td, th {
  border: none;
  border-bottom: 1px solid #b8b8b8;
  text-align: left;
  padding: 8px;
}

.table-button {
  width: 130px;
  height: 40px;
  font-family: var(--body-font);
  background-color: var(--accent);
  border-radius: 25px;
  border: none;
}

.table-button:hover {
  background-color: #eca90b;
}

/* ========== MEDIA QUERIES ==========*/
/* For small devices reduce search*/
@media screen and (max-width: 320px) {
  .header__search {
    width: 70%;
  }
}

@media screen and (min-width: 768px) {
  body {
    padding: 1rem 3rem 0 6rem;
  }
  .header {
    padding: 0 3rem 0 6rem;
  }
  .header__container {
    height: calc(var(--header-height) + .5rem);
  }
  .header__search {
    width: 300px;
    padding: .55rem .75rem;
  }
  .header__toggle {
    display: none;
  }
  .header__logo {
    display: block;
  }
  .header__img {
    width: 40px;
    height: 40px;
    order: 1;
  }
  .nav {
    left: 0;
    padding: 1.2rem 1.5rem 0;
    width: 75px; /* Reduced navbar */
  }
  .nav__items {
    row-gap: 1.7rem;
  }
  .nav__icon {
    font-size: 1.3rem;
  }

  /* Element opacity */
  .nav__logo-name, 
  .nav__name, 
  .nav__subtitle, 
  .nav__dropdown-icon {
    opacity: 0;
    transition: .3s;
  }
  
  
  /* Navbar expanded */
  .nav:hover {
    width: var(--nav-width);
  }
  
  /* Visible elements */
  .nav:hover .nav__logo-name {
    opacity: 1;
  }
  .nav:hover .nav__subtitle {
    opacity: 1;
  }
  .nav:hover .nav__name {
    opacity: 1;
  }
  .nav:hover .nav__dropdown-icon {
    opacity: 1;
  }
}
